<h3>Create a new sensor</h3>

{{#form-for controller}}
  {{input name placeholder="Name"}}
  {{input type placeholder="Sensor type"}}
  {{input device_type placeholder="Device type"}}
  {{input data_type hint="json|float|string|..."}}
  {{input data_structure as="text" placeholder="{}"}}
  {{submit}}
{{/form-for}}`
