<h2>Share</h2>
<button {{ action "accept" }}>Accept</button>
<button {{ action "withdraw" }}>Withdraw</button>
<button {{ action "revoke" }}>Revoke</button>
<button {{ action "reject" }}>Reject</button>

<table class="table">
  <tr>
    <th>
      From
    </th>
    <th>
      To
    </th>
    <th>
      Message
    </th>
    <th>
      Sensors
    </th>
  </tr>
  <tr>
    <td>
      {{requester.email}}
    </td>
    <td>
      {{requestee.email}}
    </td>
    <td>
      {{message}}
    </td>
    <td>
      {{sensors}}
    </td>
  </tr>
</table>

{{ outlet }}
