<h2>Sensor {{ prettyName }}</h2>

<table class="table">
  <tr>
    <th>
      Display name
    </th>
    <th>
      Name
    </th>
    <th>
      Type
    </th>
    <th>
      Data structure
    </th>
  </tr>
  <tr>
    <td>
      {{display_name}}
    </td>
    <td>
      {{name}}
    </td>
    <td>
      {{type}}
    </td>
    <td>
      {{data_structure}}
    </td>
  </tr>
</table>

{{ outlet }}
