<h2>Sensor {{ prettyName }}</h2>

<table class="table">
  <thead>
    <tr>
      <th>
        Display name
      </th>
      <th>
        Name
      </th>
      <th>
        Type
      </th>
      <th>
        Data structure
      </th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>
        {{display_name}}
      </td>
      <td>
        {{name}}
      </td>
      <td>
        {{type}}
      </td>
      <td>
        {{data_structure}}
      </td>
    </tr>
  </tbody>
</table>

{{ outlet }}

<div class="controls">
  <div class="input-group">
    <!-- <span class="input-group-addon"><i class="fa fa-calendar"></i></span><input type="text" name="reservation" id="reservation" /> -->
    {{view "date-range-picker" startBinding="start" endBinding="end" }}
  </div>
</div>

