<div class="row">
  <h1 style="text-align:center">Sensors ({{ totalSensors }}) </h1>
</div>
<div class="row">
  <div class="col-md-1">
  </div>
  <div class="col-md-6">

    <table class="table">
      <thead>
      <th>
        ID
      </th>
      <th>
        Name
      </th>
      <th>
        Device type
      </th>
      <th>
        Data type
      </th>
      </thead>
      <tbody>
        {{#each sensor in controller}}
        <tr>
          <td>
            {{sensor.id}}
          </td>
          <td>
          {{#link-to "sensor" sensor}}
            {{sensor.name}}
          {{/link-to}}
          </td>
          <td>
            {{sensor.device_type}}
          </td>
          <td>
            {{sensor.data_type}}
          </td>
        </tr>
        {{/each}}

      </tbody>
    </table>

  </div>
  <div class="col-md-5">
    {{#link-to "sensors.new" }}
    <button>
      New sensor
    </button>
    {{/link-to}}
    {{ outlet }}
  </div>
</div>

<div class="row">
  <div class="col-md-12">
  </div>
</div>
